/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.marketing p + h4 {
  margin-top: 28px;
}

.marketing p {
	text-align: justify;
}

.decimal {
	font-size:10px;
	line-height:1em;
	vertical-align:text-top;
}

#carousel_home .item {
	width: 400px;
}

#carousel_home img {
	width: 400px;
}

#carousel_home .carousel-inner {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.gallery-row {
	margin-bottom: 20px;
}

.gallery-image {
	position:relative;
	float: left;
	margin: 5px;
}

.switch-gallery {
	position: relative;
	float: right;
}

.cake-info {
	color: Green;
	font-weight: bold;
}

#cake-detail p {
	padding-bottom: 5px;
}

h1, h2 {
	font-family: 'Alice', Georgia, serif;
}
