/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.marketing p + h4 {
  margin-top: 28px;
}

.decimal {
	font-size:10px;
	line-height:1em;
	vertical-align:text-top
}