<input type="text" ng-model="query" placeholder="Buscar...">

<div class="btn-group switch-gallery" data-toggle="buttons-radio" ng-init="show_gallery=true">
    <button type="button" class="btn btn-primary active" ng-click="show_gallery=true">Galería</button>
    <button type="button" class="btn btn-primary" ng-click="show_gallery=false">Listado</button>
</div>

<br/><br/>

<div ng-show="show_gallery" ng-repeat="cake in cake_list | filter:query">
    <a class="gallery-image" title="cake.name" description="cake.description" href="#/tortas/{{cake.id}}" popover>
        <img class="img-rounded img-border" width="290px" ng-src="{{cake.thumbnail}}" alt="{{cake.name}}">
    </a>
</div>

<table ng-hide="show_gallery" class="table table-condensed">
    <tr ng-repeat="cake in cake_list | filter:query">
    	<td width="100px"><a href="#/tortas/{{cake.id}}"><img width="100px" class="img-rounded" ng-src="{{cake.thumbnail}}" alt="{{cake.name}}"></a></td>
        <td width="150px" style="text-align : center; font-weight:bold;"><a href="#/tortas/{{cake.id}}">{{cake.name}}</a></td>
        <td><i>{{cake.description}}</i></td>
        <td width="50px" style="color : Green">$ {{cake.price}}<span class="decimal">00</span></td>
    </tr>
</table>