<div id="carousel_home" class="carousel">
  <div class="carousel-inner">
    <div class="active item">
      <img class="img-rounded" src="img/mini_ricota_2.jpg">
    </div>
    <div class="item">
      <img class="img-rounded" src="img/3.jpg">
    </div>
    <div class="item">
      <img class="img-rounded" src="img/5.jpg">
    </div>
  </div>
</div>

<div class="jumbotron">
  <p class="lead">Todos nuestros productos están realizados en forma casera y sin aditivos industriales, logrando así sabores intensos y definidos. Esta es la forma más sana de comer algo dulce.</p>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Delicias tradicionales</h4>
    <p>Los clásicos de siempre, recetas que conservan los sabores y presentaciones originales de la pastelería y repostería.</p>

    <h4>Delicias bajas en carbohidratos</h4>
    <p>Versiones de nuestros productos con bajo contenido de azucar.</p>
  </div>

  <div class="span6">
    <h4>Delicias sin gluten</h4>
    <p>Propuestas que amplían las opciones para comer algo dulce.</p>
  </div>
</div>

<script>
  $(function() {
    $('#carousel_home').carousel({
      interval: 4000,
      pause: ""
    });
  });
</script>
