<div id="carousel" class="carousel">
  <div class="carousel-inner">
    <div class="active item">
      <img class="img-rounded" src="img/8.jpg">
    </div>
    <div class="item">
      <img class="img-rounded" src="img/3.jpg">
    </div>
    <div class="item">
      <img class="img-rounded" src="img/5.jpg">
    </div>
  </div>
</div>

<div class="jumbotron">
  <p class="lead">Todos los productos que te ofrecemos están realizados en forma casera, y sin aditivos industriales, logrando así los sabores más intensos y definidos, y siendo la forma más sana de comer algo dulce.</p>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Delicias tradicionales</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Delicias bajas en carbohidratos</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>

  <div class="span6">
    <h4>Delicias sin gluten</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

    <h4>Delicias en miniatura</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>

<script>
  $(function() {
    $('#carousel').carousel({
      interval: 4000,
      pause: ""
    });
  });
</script>